h1 {
    text-align: center;
    background-color: aqua;
    font-size: 40px;
}

img {
    height: 250px;
    width: auto;
}

.container {
    display: grid;
    grid-template-columns:100px 200px 200px ;
    grid-template-rows:100px 100px;
    gap: 100px;
    font-weight: bold;
    color:purple;
    font-size: 19px;

}
h2 {
    color: blue;

}

ol {
    font-weight: bold;
    color:black;
    font-size: auto;

}

.project1 {
    display: flex;
    height: 200px;
    width: 200px;
    gap: 50px;
    margin:0px 100px 100px 0px;
    font-size: large;
    font-weight: bolder;
}



a {
    font-size: 20px;
    color: blue;
    font-weight: bold;
    display: block;
    margin: 20px 20px 20px 0px;
}

footer p {
    margin: 10px;
    text-align: center;
}

html {
    background-color: aqua;
}